<div class="cms-verify-report">
  <p class="header-text">VERIFICAR REPORTE</p>
  <div class="cms-verify-report-content">
    <div class="reported-profile">
      <div class="reported-profile-img">
        <img src="{{ information?.profile_image }}" alt="Profile pic" />
      </div>
      <div class="reported-profile-data">
        <p class="informative-text">
          {{ information?.name }} {{ information?.last_name }}
        </p>
        <p class="support-text">{{ information?.email }}</p>
        <p class="support-text username">@{{ information?.username }}</p>
        <p class="support-text registration-date">
          Se registró el
          {{ information?.registration_date | date: "dd/MM/yyyy" }}
        </p>
      </div>
    </div>
    <div class="reported-meta-data">
      <p
        class="support-text invalid"
        [ngClass]="{ valid: information?.active }"
      >
        {{ information?.active ? "activo" : "inactivo" }}
      </p>
      <p
        class="support-text invalid"
        [ngClass]="{ valid: information?.confirmed }"
      >
        {{ information?.confirmed ? "confirmado" : "no confirmado" }}
      </p>
    </div>
    <hr />
    <div class="reports" *ngFor="let item of information?.reports">
      <div class="report-date">
        <div>
          <div
            class="report-date-status"
            [ngClass]="{ valid: item.attended }"
          ></div>
          <p class="support-text">
            {{ getResolution(item.resolution) }}
          </p>
        </div>
        <p class="support-text">
          {{ item.creation_date | date: "dd/MM/yyyy" }}
        </p>
      </div>
      <div class="report-data">
        <p class="informative-text">
          {{ item.reason }}
        </p>
        <p class="support-text">
          Reportado por : <span>{{ item.reporting_user_name }}</span>
        </p>
      </div>
    </div>
    <ng-container *ngIf="information?.reports?.length != 0 && openReports != 0">
      <form [formGroup]="resolutionForm">
        <section>
          <label class="">Resolución</label>
          <select
            class="common-input"
            type="text"
            autocomplete="off"
            formControlName="resolutionId"
            [class.error]="f.resolutionId.errors && submitted"
            (input)="validate()"
          >
            <option *ngFor="let element of resolutions" [ngValue]="element.id">
              {{ element.desc }}
            </option>
          </select>
        </section>
        <section>
          <label class="">Detalle de la resolución</label>
          <textarea
            rows="5"
            class="text-area-input"
            placeholder="Detalle de manera correcta la resolución."
            formControlName="resolutionDetail"
            [class.error]="f.resolutionDetail.errors && submitted"
            (input)="validate()"
          ></textarea>
        </section>
        <section *ngIf="(f.resolutionId?.value || 0) * 1 == 2">
          <label class="">Días de suspensión</label>
          <input
            class="common-input"
            type="text"
            autocomplete="off"
            formControlName="suspensionDays"
            (keypress)="validateNumber($event)"
            [class.error]="f.suspensionDays.errors && submitted"
            (input)="validate()"
          />
        </section>
      </form>
      <button class="primary-button" (click)="verifyReport()">PROCESAR</button>
      <p *ngIf="errorMsg" class="support-text error-msg">{{ errorMsg }}</p>
    </ng-container>
  </div>
</div>
