@use "breakpoints" as bp;
@use "variables" as vars;

.cms-verify-report {
  display: flex;
  padding: 64px;
  flex-direction: column;
  gap: 32px;

  &-content {
    width: 100%;
    background: vars.$card-bg;
    border-radius: 10px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .reported-profile {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;

      &-img {
        min-width: 80px;
        width: 80px;
        height: 80px;
        border-radius: 15px;
        overflow: hidden;

        img {
          width: 80px;
          height: auto;

          @include bp.respond-to(phone) {
            width: 64px;
          }
        }

        @include bp.respond-to(phone) {
          width: 64px;
          min-width: 64px;
          height: 64px;
        }
      }

      &-data {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .reported-meta-data {
      display: flex;
      justify-content: center;
      gap: 16px;
    }

    hr {
      border-color: vars.$input-border;
      margin-top: 16px;
    }

    .reports {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-bottom: 32px;
      border-bottom: 1px solid vars.$input-border;

      .report-date {
        display: flex;
        justify-content: space-between;

        & > div {
          display: flex;
          align-items: center;
          gap: 8px;
          .report-date-status {
            width: 10px;
            height: 10px;
            background-color: vars.$error-color;
            border-radius: 100%;

            &.valid {
              background-color: vars.$valid-color;
            }
          }
        }
      }

      .report-data {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 16px;

      section {
        display: flex;
        flex-direction: column;

        .common-input,
        .text-area-input {
          margin-top: 8px;
        }

        input {
          &.error {
            border-color: vars.$error-color;
            color: vars.$error-color;
          }
        }
      }
    }

    @include bp.respond-to(mobile) {
      padding: 16px;
    }
  }

  .support-text {
    &.username {
      font-weight: 600;
    }

    &.registration-date {
      text-align: end;
    }

    &.invalid {
      padding: 4px 8px;
      border-radius: 8px;
      background-color: vars.$error-color;

      &.valid {
        background-color: vars.$valid-color;
      }
    }

    span {
      font-weight: 600;
    }

    &.error-msg {
      text-align: end;
      color: vars.$error-color;
    }
  }

  @include bp.respond-to(mobile) {
    padding: 16px;
  }
}
