<div class="otp">
  <section>
    <p class="header-text">VERIFICA TU OTP</p>
    <p class="informative-text">
      OTP fue enviado a <span>{{ email }}</span>
    </p>
  </section>
  <form class="otp-input" [formGroup]="otpForm">
    <input
      class="common-input"
      type="text"
      autocomplete="off"
      maxlength="6"
      (keypress)="validateNumber($event)"
      formControlName="code"
      [class.error]="f.code.errors && submitted"
      (input)="validate()"
    />
  </form>
  <div class="otp-action">
    <button class="primary-button" (click)="submit()">Continuar</button>
    <p class="support-text error" *ngIf="errorMsg">
      {{ errorMsg }}
    </p>
  </div>
</div>
