@use "variables" as vars;
@use "breakpoints" as bp;
@use "text";

.otp {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 360px;

  section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;

    .header-text {
      font-weight: 700;
    }

    .informative-text {
      color: vars.$support-text-color;

      span {
        color: vars.$text-color;
      }
    }

    @include bp.respond-to(phone) {
      text-align: start;
    }
  }
  &-input {
    .common-input {
      @extend .header-text;
      text-align: center;
    }
  }

  &-action {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .support-text {
      text-align: center;

      &.error {
        color: vars.$error-color;
      }
    }
  }

  @include bp.respond-to(phone) {
    width: 100%;
  }
}
