@use "variables" as vars;
@use "breakpoints" as bp;
.grid {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 16px;

    .grid-item {
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-width: 208px;
      cursor: pointer;
      flex: 0 0 20%;
      max-width: calc(20% - 12.8px);

      &-img {
        border-radius: 4px;
        overflow: hidden;
        height: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &-bg {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          width: 100%;
          height: 100%;
          filter: blur(25px);
          z-index: 2;
        }

        img {
          transition: all 0.5s;
          height: 280px;
          z-index: 3;

          &:hover {
            transform: scale(1.05);
          }
        }
      }

      .content-type {
        font-size: 10px;
        line-height: 12px;
        color: vars.$support-text-color;
        background: vars.$card-bg;
        width: fit-content;
        padding: 6px;
        border-radius: 6px;
      }

      .normal-text {
        margin-top: 3px;
      }

      .discount {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &-info {
          background-color: vars.$primary-color;
          padding: 6px 8px;
          border-radius: 6px;
        }

        &-total {
          p:first-of-type {
            color: vars.$support-text-color;
            text-decoration: line-through;
          }
        }
      }

      @include bp.respond-to-width2(1500px) {
        flex: 0 0 16.666%;
        max-width: calc(16.666% - 13.333px);
      }

      @include bp.respond-to-width2(1750px) {
        flex: 0 0 14.285%;
        max-width: calc(14.285% - 19.2px);
      }

      @include bp.respond-to(mobile) {
        flex: 0 0 25%;
        max-width: calc(25% - 12px);
      }

      @include bp.respond-to(phone) {
        flex: 0 0 50%;
        max-width: calc(50% - 8px);
      }
    }
  }
}
