<div class="grid">
  <div class="grid-header">
    <p class="header-text">{{ "Grupo " + title }}</p>
  </div>
  <div class="grid-content" #container>
    <ng-container *ngFor="let item of content">
      <div class="grid-item" (click)="selectItem(item)">
        <div class="grid-item-img">
          <div
            class="grid-item-img-bg"
            [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }"
          ></div>
          <img src="{{ item.image }}" alt="Game Image" />
        </div>
        <p class="support-text content-type">JUEGO BASE</p>
        <p class="support-text">{{ item.name }}</p>
        <ng-container *ngIf="!item.percentage_discount; else discount">
          <p class="normal-text">Q{{ item.price | number: "1.2-2" }}</p>
        </ng-container>
        <ng-template #discount>
          <div class="discount">
            <div class="discount-info">
              <p class="support-text">
                - {{ item.percentage_discount | number: "1.0-0" }} %
              </p>
            </div>
            <div class="discount-total">
              <p class="normal-text">Q{{ item.price | number: "1.2-2" }}</p>
              <p class="normal-text">
                Q{{ item.price - item.discount | number: "1.2-2" }}
              </p>
            </div>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
