<div class="cms-reports">
  <p class="header-text">REPORTES</p>
  <table mat-table [dataSource]="data">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID.</th>
      <td mat-cell *matCellDef="let element">{{ element.id_user }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Usuario</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="openReports">
      <th mat-header-cell *matHeaderCellDef>Reportes abiertos</th>
      <td mat-cell *matCellDef="let element">{{ element.open_reports }}</td>
    </ng-container>

    <ng-container matColumnDef="reports">
      <th mat-header-cell *matHeaderCellDef>Total de reportes</th>
      <td mat-cell *matCellDef="let element">{{ element.reports.length }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          (click)="verifyReport(element)"
          title="Verificar"
          svgIcon="feather:crosshair"
        ></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
