@use "variables" as vars;
@use "breakpoints" as bp;

.transaction {
  min-width: 400px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &-options {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;

    &-wallet {
      background: vars.$card-bg;
      padding: 16px;
      border-radius: 6px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
    }

    &-card {
      background: vars.$card-bg;
      padding: 16px;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;

      .select-input,
      .common-input {
        width: 100%;
        height: 50px;
      }
    }
  }

  &-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .primary-button {
      height: 50px;

      &:last-of-type {
        background: none;
        border: 2px solid vars.$gray-1;
        color: vars.$support-text-color;
      }
    }

    .support-text {
      text-align: end;
      color: vars.$error-color;
    }
  }
}
