<div class="transaction">
  <p class="header-text">CHECKOUT</p>
  <div class="transaction-options">
    <div class="transaction-options-wallet">
      <mat-icon svgIcon="account_balance_wallet"></mat-icon>
      <p class="normal-text">Q{{ data?.user?.wallet | number: "1.2-2" }}</p>
    </div>
    <form
      class="transaction-options-card"
      [formGroup]="cardForm"
      *ngIf="cards?.length > 0"
    >
      <ng-select
        class="select-input"
        [items]="cards"
        bindLabel="info"
        bindValue="id_credit_card"
        [clearable]="false"
        placeholder="Tarjeta"
        [selectOnTab]="true"
        formControlName="idCard"
        [class.error]="f.idCard.errors && submitted"
        (change)="reset()"
      >
      </ng-select>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="CVV"
        [class.error]="f.CVV.errors && submitted"
        (input)="validate()"
        placeholder="CVV"
        mask="000"
      />
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="credit"
        [class.error]="f.credit.errors && submitted"
        (input)="validate()"
        placeholder="Cantidad"
        (keypress)="validateNumber($event)"
      />
    </form>
  </div>
  <div class="transaction-actions">
    <button class="primary-button" (click)="pay()">Transferir</button>
    <button class="primary-button" (click)="close()">Cancelar</button>
    <p *ngIf="errorMsg" class="support-text">{{ errorMsg }}</p>
  </div>
</div>
