<div class="cms-users">
  <p class="header-text">{{ type == 1 ? "ADMINISTRADORES" : "USUARIOS" }}</p>
  <div class="cms-users-actions" *ngIf="type == 1">
    <button class="primary-button" routerLink="/cms/create-admin">CREAR</button>
  </div>
  <table mat-table [dataSource]="data">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID.</th>
      <td mat-cell *matCellDef="let element">{{ element.id_user }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }} {{ element.last_name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="registrationDate">
      <th mat-header-cell *matHeaderCellDef>Fecha de registro</th>
      <td mat-cell *matCellDef="let element">
        {{ element.registration_date | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Activo</th>
      <td mat-cell *matCellDef="let element">
        {{ element.active ? "Sí" : "No" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="confirmed">
      <th mat-header-cell *matHeaderCellDef>Confirmado</th>
      <td mat-cell *matCellDef="let element">
        {{ element.confirmed ? "Sí" : "No" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          *ngIf="element.active"
          (click)="deleteUser(element)"
          title="Deshabilitar"
          svgIcon="feather:minus-square"
        ></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <p *ngIf="errorMsg" class="support-text">{{ errorMsg }}</p>
</div>
