@use "variables" as vars;

.cms-users {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 64px;

  &-actions {
    display: flex;
    justify-content: flex-end;

    .primary-button {
      width: fit-content;
      padding: 0 16px;
      height: 40px;
    }
  }

  mat-icon {
    cursor: pointer;
    width: 18px !important;
    height: 18px !important;
    min-width: 18px !important;
    min-height: 18px !important;
    font-size: 18px !important;
    line-height: 18px !important;
    transition: all 0.5s;

    &:hover {
      color: vars.$error-color;
    }
  }

  .support-text {
    text-align: end;
    color: vars.$error-color;
  }
}
