@use "breakpoints" as bp;

.partners {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 64px;

  p {
    &.loading {
      text-align: center;
    }
  }

  app-filter {
    @include bp.respond-to(mobile) {
      display: none;
    }
  }

  app-grid {
    margin-bottom: 32px;
  }
}
