<div class="partners">
  <p class="informative-text loading" *ngIf="message">
    {{ message }}
  </p>
  <app-filter
    *ngIf="filter"
    [content]="filter"
    (itemClicked)="apply($event)"
  ></app-filter>
  <ng-container *ngFor="let item of external">
    <app-grid
      *ngIf="item.games"
      [title]="item.id"
      [content]="item.games"
    ></app-grid>
  </ng-container>
</div>
