@use "variables" as vars;

.navigation {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  width: 256px;

  &-content {
    width: 100%;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .obtic-logo {
        width: 128px;
      }

      .navigation-items {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;
        padding-left: 64px;
      }

      &:last-of-type {
        padding: 0 32px;
      }
    }
  }
}
