<div class="navigation">
  <div class="navigation-content">
    <section>
      <img class="obtic-logo" src="../../../assets/logos/obtic.svg" alt="" />
      <div class="navigation-items">
        <app-navigation-item
          *ngFor="let item of navigation"
          [item]="item"
        ></app-navigation-item>
      </div>
    </section>
    <section>
      <ng-container *ngIf="authUser; else anonymous">
        <app-user-section [authUser]="authUser"></app-user-section>
      </ng-container>
      <ng-template #anonymous>
        <app-anonymous-section></app-anonymous-section>
      </ng-template>
    </section>
  </div>
</div>
