$break-small: 480px;
$break-large: 900px;

@mixin respond-to($media) {
  @if $media == phone {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: ($break-small + 1)) and (max-width: ($break-large - 1)) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  } @else if $media == not-phone {
    @media only screen and (min-width: ($break-small + 1)) {
      @content;
    }
  } @else if $media == mobile {
    @media only screen and (max-width: $break-large) {
      @content;
    }
  }
}

@mixin respond-to-height($media) {
  @media only screen and (max-height: $media) {
    @content;
  }
}

@mixin respond-to-width($media) {
  @media only screen and (max-width: $media) {
    @content;
  }
}

@mixin respond-to-width2($media) {
  @media only screen and (min-width: $media) {
    @content;
  }
}
