@use "variables" as vars;
@use "text";

.primary-button {
  height: 60px;
  background-color: vars.$primary-color;
  border-radius: 4px;
  border: none;
  width: 100%;
  color: vars.$input-color;
  @extend .normal-text;
  outline: none;
  cursor: pointer;
  transition: all 0.25s;
  text-transform: uppercase;
  &:hover {
    background: lighten(vars.$primary-color, 2.5%);
  }
}
