@use "../theme/variables" as v;

html {
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;

  body {
    height: 100%;
    width: 100%;
    background-color: v.$body-bg;
    color: v.$body-color;
    font-family: v.$font-family;
  }
}
