@use "variables" as vars;
@use "breakpoints" as bp;

.solid-background .mat-dialog-container {
  background: vars.$body-bg;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  min-width: 325px;
  width: 100%;
  color: vars.$text-color;
  @include bp.respond-to(phone) {
    min-width: 100%;
  }
}

.solid-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
