@use "variables" as vars;
@use "text";

.common-input {
  width: 100%;
  height: 60px;
  background: none;
  border: 1px solid vars.$input-border;
  border-radius: 4px;
  padding: 8px 16px;
  color: vars.$input-color;
  @extend .normal-text;
  outline: none;

  &::placeholder {
    color: vars.$input-border;
    opacity: 1;
  }

  &:-ms-input-placeholder,
  &::-ms-input-placeholder {
    color: vars.$input-border;
  }

  &.error {
    border-color: vars.$error-color;
    color: vars.$error-color;
  }
}

.select-input {
  &.ng-select.ng-select-single .ng-select-container {
    height: 50px;
    background: none;
    border: 1px solid vars.$input-border;
    border-radius: 4px;
    padding: 8px;
    color: vars.$input-color;
    outline: none;
    @extend .normal-text;
    font-family: vars.$font-family;
  }

  &.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: vars.$input-border;
    opacity: 1;
  }

  &.ng-select .ng-select-container .ng-value-container .ng-input > input {
    color: vars.$input-border;
    padding: 8px;
    font-family: vars.$font-family;
    @extend .normal-text;
  }

  &.error {
    &.ng-select.ng-select-single .ng-select-container {
      border-color: vars.$error-color;
    }
  }
}

.ng-dropdown-panel {
  border-color: vars.$input-border;

  .ng-dropdown-panel-items .ng-option {
    background-color: vars.$card-bg;
    color: vars.$input-color;
    font-family: vars.$font-family;
    @extend .normal-text;

    &.ng-option-selected,
    &.ng-option-selected.ng-option-marked {
      color: vars.$input-color;
      background-color: lighten(vars.$card-bg, 15%);
    }

    &.ng-option-marked {
      color: vars.$input-color;
      background-color: lighten(vars.$card-bg, 10%);
    }
  }
}

.text-area-input {
  resize: none;
  background: none;
  border: 1px solid vars.$input-border;
  border-radius: 4px;
  padding: 8px 16px;
  color: vars.$input-color;
  @extend .support-text;
  outline: none;
  font-family: vars.$font-family;

  &::placeholder {
    color: vars.$input-border;
    opacity: 1;
  }

  &:-ms-input-placeholder,
  &::-ms-input-placeholder {
    color: vars.$input-border;
  }

  &.error {
    border-color: vars.$error-color;
    color: vars.$error-color;
  }
}
