.header-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.informative-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.normal-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.support-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
