<div class="cms-game-stats">
  <p class="header-text">{{ name }}</p>
  <div>
    <p class="informative-text">Económico</p>
    <apx-chart
      [chart]="firstPieChart.chart"
      [series]="firstPieChart.series"
      [stroke]="firstPieChart.stroke"
      [labels]="firstPieChart.labels"
      [dataLabels]="firstPieChart.dataLabels"
      [markers]="firstPieChart.markers"
      [tooltip]="firstPieChart.tooltip"
      [legend]="firstPieChart.legend"
    ></apx-chart>
  </div>
  <div>
    <p class="informative-text">Cantidad</p>
    <apx-chart
      [chart]="secondPieChart.chart"
      [series]="secondPieChart.series"
      [stroke]="secondPieChart.stroke"
      [labels]="secondPieChart.labels"
      [dataLabels]="secondPieChart.dataLabels"
      [markers]="secondPieChart.markers"
      [tooltip]="secondPieChart.tooltip"
      [legend]="secondPieChart.legend"
    ></apx-chart>
  </div>
</div>
