<div class="cms-dashboard">
  <div class="cms-dashboard-summary">
    <div routerLink="/cms/shopping-dashboard">
      <p class="header-text">{{ summary?.incomesCount }}</p>
      <p class="informative-text">Ventas</p>
    </div>
    <div class="outcomes" routerLink="/cms/refund-dashboard">
      <p class="header-text">{{ summary?.outcomesCount }}</p>
      <p class="informative-text">Devoluciones</p>
    </div>
  </div>
  <div class="cms-dashboard-detail">
    <div *ngFor="let item of detail">
      <div>
        <p class="header-text">{{ item.movements }} -</p>
        <p class="informative-text">{{ item.movement_type }}</p>
      </div>
      <section [ngClass]="{ 'is-credit': item.is_credit }"></section>
    </div>
  </div>
  <div class="cms-dashboard-content">
    <div>
      <p class="informative-text">A lo largo de los meses</p>
      <apx-chart
        [chart]="firstChart.chart"
        [series]="firstChart.series"
        [stroke]="firstChart.stroke"
        [xaxis]="firstChart.xaxis"
        [dataLabels]="firstChart.dataLabels"
        [colors]="firstChart.colors"
        [markers]="firstChart.markers"
        [tooltip]="firstChart.tooltip"
        [legend]="firstChart.legend"
      ></apx-chart>
    </div>
    <div>
      <p class="informative-text">Origen de venta</p>
      <apx-chart
        [chart]="secondChart.chart"
        [series]="secondChart.series"
        [stroke]="secondChart.stroke"
        [xaxis]="secondChart.xaxis"
        [dataLabels]="secondChart.dataLabels"
        [colors]="secondChart.colors"
        [markers]="secondChart.markers"
        [tooltip]="secondChart.tooltip"
        [legend]="secondChart.legend"
      ></apx-chart>
    </div>
    <div>
      <p class="informative-text">Tipo de venta</p>
      <apx-chart
        [chart]="thirdChart.chart"
        [series]="thirdChart.series"
        [stroke]="thirdChart.stroke"
        [xaxis]="thirdChart.xaxis"
        [dataLabels]="thirdChart.dataLabels"
        [colors]="thirdChart.colors"
        [markers]="thirdChart.markers"
        [tooltip]="thirdChart.tooltip"
        [legend]="thirdChart.legend"
      ></apx-chart>
    </div>
  </div>
</div>
