@use "variables" as vars;

.cms-dashboard {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 64px;

  &-summary {
    display: flex;
    gap: 32px;
    & > div {
      background: vars.$card-bg;
      border-radius: 8px;
      padding: 32px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;

      .header-text {
        font-size: 64px;
        line-height: 60px;
        font-weight: 600;
      }

      p {
        color: #22c55e;
      }

      &.outcomes {
        p {
          color: #ef4444;
        }
      }
    }
  }

  &-detail {
    display: flex;
    flex-direction: column;
    gap: 16px;
    & > div {
      background: vars.$card-bg;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 8px;
      padding: 16px;
      border-radius: 8px;

      & > div {
        display: flex;
        gap: 8px;
        align-items: center;
      }

      & > section {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ef4444;

        &.is-credit {
          background: #22c55e;
        }
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 64px;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
}
