@use "variables" as vars;

.user-section {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .recomendation {
    width: 192px;
    height: 70px;
    border-radius: 15px;
    padding: 16px 18px;
    display: flex;
    background: linear-gradient(225deg, #5b43f4 0%, rgba(39, 148, 250, 0) 100%);
    cursor: pointer;

    .normal-text {
      font-weight: 400;
    }
  }

  hr {
    border-color: vars.$gray-color;
  }

  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 192px;

    &-info {
      display: flex;
      align-items: center;
      gap: 8px;

      &-img {
        width: 48px;
        height: 48px;
        border-radius: 15px;
        overflow: hidden;
      }

      p {
        max-width: 90px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    mat-icon {
      cursor: pointer;
    }
  }
}
