<div class="user-section">
  <div class="recomendation" routerLink="/report">
    <p class="normal-text">¿Necesitar reportar?</p>
    <mat-icon svgIcon="feather:arrow-up-right"></mat-icon>
  </div>
  <hr />
  <div class="profile">
    <div class="profile-info">
      <div class="profile-info-img">
        <img
          src="{{ authUser?.profile_image }}"
          alt="Profile pic"
          width="48px"
          height="auto"
        />
      </div>
      <p class="normal-text">{{ authUser?.username }}</p>
    </div>
    <mat-icon svgIcon="feather:log-out" (click)="logout()"></mat-icon>
  </div>
</div>
