<div class="login">
  <p class="informative-text">Inicia sesión con tu cuenta de Obtic Games</p>
  <form class="login-input" [formGroup]="loginForm">
    <input
      class="common-input"
      type="email"
      placeholder="Dirección de correo electrónico"
      formControlName="email"
      [class.error]="f.email.errors && submitted"
      (input)="validate()"
      required
    />
    <div class="password-input">
      <input
        class="common-input"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Contraseña"
        formControlName="password"
        [class.error]="f.password.errors && submitted"
        (input)="validate()"
        required
      />
      <mat-icon
        (click)="togglePasswordView()"
        svgIcon="{{ !showPassword ? 'feather:eye-off' : 'feather:eye' }}"
      ></mat-icon>
    </div>
  </form>
  <!-- <div class="login-forgot">
    <p class="support-text">¿Has olvidado tu contraseña?</p>
  </div> -->
  <div class="login-action">
    <button class="primary-button" (click)="submit()">
      Iniciar sesión ahora
    </button>
    <p class="support-text error" *ngIf="errorMsg">
      {{ errorMsg }}
    </p>
    <p class="support-text">
      ¿No tienes una cuenta de Obtic Games?
      <span routerLink="/auth/register">Regístrate</span>
    </p>
  </div>
</div>
