@use "variables" as vars;
@use "breakpoints" as bp;

.login {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 360px;

  .informative-text {
    text-align: center;

    @include bp.respond-to(phone) {
      text-align: start;
    }
  }

  &-input {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .password-input {
      position: relative;

      .common-input {
        padding-right: 48px;
      }

      mat-icon {
        cursor: pointer;
        position: absolute;
        top: 18px;
        right: 16px;
      }
    }
  }

  &-forgot {
    display: flex;
    justify-content: flex-end;
    text-align: end;

    .support-text {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &-action {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .support-text {
      text-align: center;
      color: vars.$support-text-color;
      span {
        color: vars.$text-color;
        cursor: pointer;
      }

      &.error {
        color: vars.$error-color;
      }
    }
  }

  @include bp.respond-to(phone) {
    width: 100%;
  }
}
