@use "breakpoints" as bp;
@use "variables" as vars;

.hero {
  display: flex;
  gap: 32px;

  &-img {
    width: 75%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &:hover &-bg {
      filter: blur(4px);
    }

    &-bg {
      opacity: 0.75;
      transition: all 0.25s;
    }

    &-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;

      @include bp.respond-to-width(1100px) {
        width: 200px;
      }
    }

    @include bp.respond-to-width(1250px) {
      width: 100%;
    }
  }

  &-right {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include bp.respond-to-width(1250px) {
      display: none;
    }
  }

  &-information {
    background-color: vars.$card-bg;
    width: 100%;
    border-radius: 25px;
    padding: 32px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 35px;

    section {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &-actions {
      display: flex;
      gap: 32px;
      align-items: center;
      flex-wrap: wrap;
      .primary-button {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 16px;
        width: fit-content;
      }

      & > div {
        cursor: pointer;
      }
    }
  }

  &-elements {
    display: flex;
    justify-content: center;
    gap: 6px;
    width: 100%;

    .hero-item {
      transition: all 0.5s;
      width: 20px;
      border-radius: 25px;
      height: 8px;
      background-color: vars.$gray-color;
      cursor: pointer;

      &.selected {
        width: 40px;
        background-color: vars.$white-color;
      }
    }
  }
}
