<div class="hero">
  <div class="hero-img" (click)="selectItem()">
    <img
      class="hero-img-bg"
      src="{{ current?.desktop_image }}"
      alt="Hero Image"
      width="100%"
    />
    <img class="hero-img-logo" src="{{ current?.logo }}" alt="Hero Image" />
  </div>
  <section class="hero-right">
    <div class="hero-information">
      <section>
        <p class="header-text">{{ current?.product_name }}</p>
        <p class="normal-text">{{ current?.short_description }}</p>
      </section>
      <div class="hero-information-actions">
        <ng-container *ngIf="!current.own">
          <button
            class="primary-button"
            (click)="addToCart()"
            *ngIf="current?.showShoppingCart || !authUser"
          >
            <mat-icon svgIcon="feather:shopping-cart"></mat-icon>
            <p class="informative-text">
              Q{{ current?.price - current?.discount | number: "1.2-2" }}
            </p>
          </button>
          <div
            title="A LISTA DE DESEOS"
            (click)="addToWishList()"
            *ngIf="current?.showWishList || !authUser"
          >
            <mat-icon svgIcon="feather:heart"></mat-icon>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="hero-elements">
      <div
        class="hero-item"
        *ngFor="let item of content; let i = index"
        [ngClass]="{ selected: currentID === i }"
        (click)="changeCurrent(i)"
      ></div>
    </div>
  </section>
</div>
