@use "breakpoints" as bp;
@use "variables" as vars;

.detail-hero {
  display: flex;
  gap: 32px;

  &-img {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 6px;

    &-bg {
      border-radius: 25px;
      overflow: hidden;

      img {
        transition: all 0.5s;
      }
    }

    &-selector {
      display: flex;
      gap: 6px;
      justify-content: center;
      align-items: center;

      .detail-hero-item {
        cursor: pointer;
        border-radius: 8px;
        overflow: hidden;

        img {
          width: 100px;
        }

        &.selected {
          border: 2px solid vars.$white-color;
        }
      }
    }

    &-data {
      margin-top: 32px;

      .informative-text {
        @include bp.respond-to(mobile) {
          font-size: 16px;
          line-height: 18px;
        }
      }

      & > div {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;
        border-bottom: 1px solid vars.$gray-1;
        width: fit-content;

        p:first-of-type {
          color: vars.$support-text-color;
          margin-bottom: 4px;
        }

        & > section {
          display: flex;
        }
      }
    }

    @include bp.respond-to-width(1250px) {
      width: 100%;
    }
  }

  &-data {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;

    img {
      width: 200px;
    }

    .principal-data {
      width: 100%;
      text-align: start;
      margin-top: 32px;

      .content-type {
        font-size: 10px;
        line-height: 12px;
        color: vars.$support-text-color;
        background: vars.$card-bg;
        width: fit-content;
        padding: 6px;
        border-radius: 6px;
      }

      .normal-text {
        margin-top: 16px;
        font-weight: 600;
      }

      .support-text {
        margin-top: 6px;
        color: vars.$support-text-color;
        text-decoration: underline;
      }

      .discount {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 16px;

        &-info {
          background-color: vars.$primary-color;
          padding: 6px 8px;
          border-radius: 6px;
          .support-text {
            color: vars.$text-color;
            margin-top: 0;
            text-decoration: none;
          }
        }

        &-total {
          p {
            margin-top: 0;
            font-weight: 400;
          }
          p:first-of-type {
            color: vars.$support-text-color;
            text-decoration: line-through;
          }
        }
      }
    }

    .data-actions {
      width: 100%;
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 6px;

      .primary-button {
        height: 50px;
      }

      .cart,
      .wish-list {
        background: none;
        border: 2px solid vars.$gray-1;
        color: vars.$support-text-color;
      }

      .wish-list {
        height: 25px;
        font-size: 12px;
      }
    }

    .secondary-data {
      width: 100%;
      margin-top: 24px;

      & > div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 12px 0;
        border-bottom: 1px solid vars.$gray-1;

        p {
          text-align: end;
        }

        p:first-of-type {
          text-align: start;
          color: vars.$support-text-color;
        }
      }
    }

    @include bp.respond-to-width(1250px) {
      width: 100%;
      padding-top: 16px;
    }
  }

  @include bp.respond-to-width(1250px) {
    flex-direction: column;
  }
}
