<div class="detail-hero">
  <div class="detail-hero-img">
    <div class="detail-hero-img-bg">
      <img src="{{ current?.url }}" alt="Hero Image" width="100%" />
    </div>
    <div class="detail-hero-img-selector">
      <div
        class="detail-hero-item"
        *ngFor="let item of images; let i = index"
        (click)="changeCurrent(i)"
        [ngClass]="{ selected: currentID === i }"
      >
        <img src="{{ item.url }}" alt="Item Image" />
      </div>
    </div>
    <div class="detail-hero-img-data">
      <p class="informative-text">{{ content?.description }}</p>
      <div>
        <p class="normal-text">Género</p>
        <p class="normal-text">{{ genders }}</p>
      </div>
    </div>
  </div>
  <div class="detail-hero-data">
    <img
      class="detail-hero-img-logo"
      src="{{ content?.logo }}"
      alt="Content Logo"
    />
    <div class="principal-data">
      <p class="content-type">
        {{ content?.is_game ? "JUEGO BASE" : "ADICIONAL" }}
      </p>
      <ng-container *ngIf="!own && loaded">
        <ng-container *ngIf="!content?.percentage_discount; else discount">
          <p class="normal-text">Q{{ content?.price | number: "1.2-2" }}</p>
        </ng-container>
        <ng-template #discount>
          <div class="discount">
            <div class="discount-info">
              <p class="support-text">
                - {{ content?.percentage_discount | number: "1.0-0" }} %
              </p>
            </div>
            <div class="discount-total">
              <p class="normal-text">Q{{ content?.price | number: "1.2-2" }}</p>
              <p class="normal-text">
                Q{{ content?.price - content?.discount | number: "1.2-2" }}
              </p>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <p class="support-text">Incluye compras dentro de la aplicación</p>
    </div>
    <div class="data-actions">
      <button class="primary-button" *ngIf="!own && loaded" (click)="buyNow()">
        Comprar ahora
      </button>
      <button class="primary-button" *ngIf="own" (click)="devolution()">
        Devolver
      </button>
      <ng-container *ngIf="!own && loaded">
        <button
          class="primary-button cart"
          *ngIf="showShoppingCart"
          (click)="addToCart()"
        >
          Añadir al carrito
        </button>
        <button
          class="primary-button wish-list"
          (click)="addToWishList()"
          *ngIf="showWishList"
        >
          A la lista de deseos
        </button>
      </ng-container>
    </div>
    <div class="secondary-data">
      <div>
        <p class="normal-text">Desarrolladora</p>
        <p class="normal-text">{{ content?.developer[0]?.name }}</p>
      </div>
      <div>
        <p class="normal-text">Fecha de lanzamiento</p>
        <p class="normal-text">
          {{ content?.release_date | date: "dd/MM/yyyy" }}
        </p>
      </div>
    </div>
  </div>
</div>
