@use "variables" as vars;
@use "breakpoints" as bp;

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;

  &-content {
    padding: 64px;
    margin: 64px 0;
    background-color: vars.$card-bg;
    border-radius: 25px;

    &-header {
      display: flex;
      justify-content: center;

      & > img {
        width: 128px;
        margin-bottom: 32px;
      }

      @include bp.respond-to(phone) {
        justify-content: flex-start;
      }
    }

    @include bp.respond-to(phone) {
      margin: 0;
      padding: 64px 16px 32px;
      width: 100%;
      background-color: transparent;
    }
  }

  @include bp.respond-to(phone) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
