<div class="auth">
  <div class="auth-content">
    <div class="auth-content-header">
      <img src="../../assets/logos/obtic.svg" alt="" />
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
