<div class="wish-list-item">
  <div class="item-information">
    <div class="item-information-img">
      <img src="{{ content?.mobile_image }}" alt="Item Image" />
    </div>
    <div class="item-information-data">
      <p class="content-type">
        {{ content?.is_game ? "JUEGO BASE" : "ADICIONAL" }}
      </p>
      <p class="informative-text">{{ content?.product_name }}</p>
    </div>
  </div>
  <div class="item-price">
    <div class="item-price-data">
      <p class="normal-text price">
        Q{{ content?.final_price | number: "1.2-2" }}
      </p>
    </div>
    <div class="item-price-actions">
      <p class="informative-text" (click)="removeItem()">Eliminar</p>
    </div>
  </div>
</div>
