@use "variables" as vars;

.wish-list-item {
  display: flex;
  width: 100%;
  background-color: vars.$card-bg;
  height: 208px;
  padding: 16px;
  border-radius: 4px;
  justify-content: space-between;

  .item-information {
    display: flex;
    gap: 16px;

    &-img {
      border-radius: 4px;
      height: 100%;
      overflow: hidden;
      max-width: 132px;
      min-width: 132px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 176px;
        width: auto;
      }
    }

    &-data {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .content-type {
        font-size: 10px;
        line-height: 12px;
        color: vars.$support-text-color;
        background: vars.$dark-1;
        width: fit-content;
        padding: 6px;
        border-radius: 6px;
      }

      .informative-text {
        font-weight: 500;
      }
    }
  }

  .item-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    &-data {
      .normal-text.price {
        font-weight: 500;
      }
    }

    &-actions {
      display: flex;
      gap: 16px;
      justify-content: flex-end;
      align-items: center;

      .informative-text {
        cursor: pointer;
        color: vars.$support-text-color;
        text-decoration: underline;
      }
    }
  }
}
