<div class="grid-library">
  <div class="grid-library-content" #container>
    <ng-container *ngFor="let item of internal">
      <div class="grid-library-item" (click)="selectItem(item)">
        <div class="grid-library-item-img">
          <div
            class="grid-library-item-img-bg"
            [ngStyle]="{ 'background-image': 'url(' + item.mobile_image + ')' }"
          ></div>
          <img src="{{ item.mobile_image }}" alt="Game Image" />
        </div>
        <p class="support-text content-type">
          {{ item?.is_game ? "JUEGO BASE" : "ADICIONAL" }}
        </p>
        <p class="support-text">{{ item?.product_name }}</p>
      </div>
    </ng-container>
    <ng-container *ngFor="let item of external">
      <div class="grid-library-item" (click)="selectExternalItem(item)">
        <div class="grid-library-item-img">
          <div
            class="grid-library-item-img-bg"
            [ngStyle]="{ 'background-image': 'url(' + item.mobile_image + ')' }"
          ></div>
          <img src="{{ item.mobile_image }}" alt="Game Image" />
        </div>
        <p class="support-text content-type">
          {{ item?.is_game ? "JUEGO BASE" : "ADICIONAL" }}
        </p>
        <p class="support-text">{{ item?.product_name }}</p>
      </div>
    </ng-container>
  </div>
</div>
