<div class="cms-create-game">
  <p class="header-text">CREAR JUEGO</p>
  <form class="cms-create-game-content" [formGroup]="gameForm">
    <section>
      <label class="">Nombre</label>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="productName"
        [class.error]="f.productName.errors && submitted"
        (input)="validate()"
      />
    </section>
    <section>
      <label class="">Descripción</label>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="description"
        [class.error]="f.description.errors && submitted"
        (input)="validate()"
      />
    </section>
    <section>
      <label class="">Fecha de lanzamiento</label>
      <input
        class="common-input"
        type="date"
        autocomplete="off"
        formControlName="releaseDate"
        [class.error]="f.releaseDate.errors && submitted"
        (input)="validate()"
      />
    </section>
    <section>
      <label class="">Imagen móvil</label>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="mobileImage"
        [class.error]="f.mobileImage.errors && submitted"
        (input)="validate()"
      />
    </section>
    <section>
      <label class="">Logo</label>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="logo"
        [class.error]="f.logo.errors && submitted"
        (input)="validate()"
      />
    </section>
    <section>
      <label class="">Restricción</label>
      <select
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="ageRestriction"
        [class.error]="f.ageRestriction.errors && submitted"
        (input)="validate()"
      >
        <option *ngFor="let element of types" [ngValue]="element">
          {{ element }}
        </option>
      </select>
    </section>
    <section>
      <label class="">Desarrollador</label>
      <select
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="developer"
        [class.error]="f.developer.errors && submitted"
        (input)="validate()"
      >
        <option
          *ngFor="let element of developers"
          [ngValue]="element.id_developer"
        >
          {{ element.developer_name }}
        </option>
      </select>
    </section>
    <section>
      <label class="">Categoría</label>
      <select
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="categories"
        [class.error]="f.categories.errors && submitted"
        (input)="validate()"
      >
        <option
          *ngFor="let element of categories"
          [ngValue]="element.id_category"
        >
          {{ element.category_name }}
        </option>
      </select>
    </section>
    <section>
      <label class="">Precio</label>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="price"
        [class.error]="f.price.errors && submitted"
        (input)="validate()"
        (keypress)="validateNumber($event)"
      />
    </section>
  </form>
  <button class="primary-button" (click)="createGame()">CREAR</button>
  <p *ngIf="errorMsg" class="support-text">{{ errorMsg }}</p>
</div>
