@use "variables" as vars;

.carousel {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .arrows {
      display: flex;
      gap: 16px;
      mat-icon {
        cursor: pointer;
      }
    }
  }
  &-content {
    display: flex;
    overflow: hidden;

    &-swiper {
      display: flex;
      transition: all 0.5s;
      gap: 16px;

      .carousel-item {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 208px;
        cursor: pointer;

        &-img {
          border-radius: 4px;
          overflow: hidden;

          img {
            transition: all 0.5s;
            width: 208px;

            &:hover {
              transform: scale(1.05);
            }
          }
        }

        .content-type {
          font-size: 10px;
          line-height: 12px;
          color: vars.$support-text-color;
          background: vars.$card-bg;
          width: fit-content;
          padding: 6px;
          border-radius: 6px;
        }

        .normal-text {
          margin-top: 3px;
        }

        &.dlc-item {
          max-width: 240px;
          img {
            width: 240px;
          }
        }

        .discount {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          &-info {
            background-color: vars.$primary-color;
            padding: 6px 8px;
            border-radius: 6px;
          }

          &-total {
            p:first-of-type {
              color: vars.$support-text-color;
              text-decoration: line-through;
            }
          }
        }

        &.disabled {
          opacity: 0.25;
          img:hover {
            transform: scale(1);
          }
        }
      }
    }
  }
}
