<div class="carousel">
  <div class="carousel-header">
    <p class="header-text">{{ title }}</p>
    <div class="arrows">
      <mat-icon svgIcon="feather:arrow-left" (click)="left()"></mat-icon>
      <mat-icon svgIcon="feather:arrow-right" (click)="right()"></mat-icon>
    </div>
  </div>
  <div class="carousel-content" #container>
    <div
      class="carousel-content-swiper"
      [ngStyle]="{ transform: 'translateX(' + position + 'px)' }"
    >
      <ng-container *ngFor="let item of content">
        <div
          class="carousel-item"
          *ngIf="item.available"
          [ngClass]="{ 'dlc-item': type != 1, disabled: !item.available }"
          (click)="selectItem(item)"
        >
          <div class="carousel-item-img">
            <img
              src="{{ type == 1 ? item.mobile_image : item.desktop_image }}"
              alt="Game Image"
            />
          </div>
          <p class="support-text content-type">
            {{ item.is_game ? "JUEGO BASE" : "ADICIONAL" }}
          </p>
          <p class="support-text">{{ item.product_name }}</p>
          <ng-container *ngIf="!item.percentage_discount; else discount">
            <p class="normal-text">Q{{ item.price | number: "1.2-2" }}</p>
          </ng-container>
          <ng-template #discount>
            <div class="discount">
              <div class="discount-info">
                <p class="support-text">
                  - {{ item.percentage_discount | number: "1.0-0" }} %
                </p>
              </div>
              <div class="discount-total">
                <p class="normal-text">Q{{ item.price | number: "1.2-2" }}</p>
                <p class="normal-text">
                  Q{{ item.price - item.discount | number: "1.2-2" }}
                </p>
              </div>
            </div>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
</div>
