<div class="cms-dlcs">
  <p class="header-text">DLCs</p>
  <div class="cms-dlcs-actions">
    <button class="primary-button" routerLink="/cms/create-dlc">CREAR</button>
  </div>
  <table mat-table [dataSource]="data">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID.</th>
      <td mat-cell *matCellDef="let element">{{ element.id_product }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.product_name }}</td>
    </ng-container>

    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef>Lanzamiento</th>
      <td mat-cell *matCellDef="let element">
        {{ element.release_date | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="registrationDate">
      <th mat-header-cell *matHeaderCellDef>Registro</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }} {{ element.registration_date | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ageRestriction">
      <th mat-header-cell *matHeaderCellDef>Clasificación</th>
      <td mat-cell *matCellDef="let element">
        {{ element.age_restriction }}
      </td>
    </ng-container>

    <ng-container matColumnDef="developer">
      <th mat-header-cell *matHeaderCellDef>Desarrollador</th>
      <td mat-cell *matCellDef="let element">
        {{ element.developer[0]?.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Activo</th>
      <td mat-cell *matCellDef="let element">
        {{ element.active ? "Sí" : "No" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.active">
          <mat-icon
            (click)="deleteGame(element)"
            title="Deshabilitar"
            svgIcon="feather:minus-square"
          ></mat-icon>
          &nbsp;
          <mat-icon
            (click)="selectItem(element)"
            title="Ofertas"
            svgIcon="feather:dollar-sign"
          ></mat-icon>
          &nbsp;
          <mat-icon
            (click)="listRestrictions(element)"
            title="Restriciones"
            svgIcon="feather:lock"
          ></mat-icon>
          &nbsp;
          <mat-icon
            (click)="getStats(element)"
            title="Stats"
            svgIcon="feather:activity"
          ></mat-icon>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <p *ngIf="errorMsg" class="support-text">{{ errorMsg }}</p>
</div>
