$font: unquote("Roboto");

@font-face {
  font-family: $font;
  font-weight: 300;
  src: url("../../../../assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: $font;
  font-weight: 400;
  src: url("../../../../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: $font;
  font-weight: 500;
  src: url("../../../../assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: $font;
  font-weight: 700;
  src: url("../../../../assets/fonts/Roboto-Bold.ttf") format("truetype");
}
