@use "./font" as f;

// Font-family
$font-family: f.$font, sans-serif;

// Auxiliary colors
$white-color: #ffffff;
$gray-color: #394653;
$black-color: #000000;

// Colors
$gray-1: #637180;
$dark-1: #0c171f;
$dark-2: #15202d;

$primary-color: #5b43f4;
$secondary-color: #2794fa;
$text-color: $white-color;
$aux-text-color: $gray-color;
$support-text-color: $gray-1;
$error-color: #ff4b4b;
$valid-color: #097969;

// Body
$body-bg: $dark-1;
$body-color: $white-color;

// Navbar
$nav-bg: $dark-1;
$nav-mobile-bg: $dark-2;

// Card
$card-bg: $dark-2;

// Input
$input-border: $gray-1;
$input-color: $white-color;
