<div class="cms-prices">
  <p class="header-text">{{ information?.product_name }}</p>
  <p class="informative-text cms-prices-price">{{ information?.price }}</p>
  <form class="cms-prices-content" [formGroup]="priceForm">
    <section>
      <label class="">Descuento</label>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="discount"
        (keypress)="validateNumber($event)"
        [class.error]="f.discount.errors && submitted"
        (input)="validate()"
      />
    </section>
    <section>
      <label class="">Por región</label>
      <select
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="byRegion"
        [class.error]="f.byRegion.errors && submitted"
        (input)="validate()"
      >
        <option *ngFor="let element of options" [ngValue]="element.id">
          {{ element.name }}
        </option>
      </select>
    </section>
    <section *ngIf="f.byRegion.value">
      <label class="">Región</label>
      <select
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="regions"
        [class.error]="f.regions.errors && submitted"
        (input)="validate()"
      >
        <option *ngFor="let element of regions" [ngValue]="element.id_region">
          {{ element.region }}
        </option>
      </select>
    </section>
  </form>
  <button class="primary-button" (click)="setPrice()">CREAR</button>
  <p *ngIf="errorMsg" class="support-text">{{ errorMsg }}</p>
</div>
