<div class="payment">
  <p class="header-text">CHECKOUT</p>
  <div class="payment-options">
    <div
      class="payment-options-wallet"
      [ngClass]="{ '-selected': selected === 1 }"
      (click)="changeOption(1)"
    >
      <mat-icon svgIcon="account_balance_wallet"></mat-icon>
      <p class="normal-text">Q{{ data?.user?.wallet | number: "1.2-2" }}</p>
    </div>

    <form
      class="payment-options-card"
      [ngClass]="{ '-selected': selected === 2 }"
      (click)="changeOption(2)"
      [formGroup]="cardForm"
      *ngIf="data?.cards?.length > 0"
    >
      <ng-select
        class="select-input"
        [items]="data?.cards"
        bindLabel="info"
        bindValue="id_credit_card"
        [clearable]="false"
        placeholder="Tarjeta"
        [selectOnTab]="true"
        formControlName="cardId"
        [class.error]="f.cardId.errors && submitted && selected == 2"
        (change)="reset()"
      >
      </ng-select>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="cvv"
        [class.error]="f.cvv.errors && submitted && selected == 2"
        (input)="validate()"
        placeholder="CVV"
        mask="000"
      />
    </form>

    <div
      class="payment-options-favorite-card"
      [ngClass]="{ '-selected': selected === 3 }"
      (click)="changeOption(3)"
      *ngIf="favorite"
    >
      <div>
        <mat-icon svgIcon="star"></mat-icon>
        <p class="normal-text">{{ favorite?.info }}</p>
      </div>
      <form [formGroup]="favoriteCardForm">
        <input
          class="common-input"
          type="text"
          autocomplete="off"
          formControlName="cvv"
          [class.error]="fc.cvv.errors && submitted && selected == 3"
          (input)="validate()"
          placeholder="CVV"
          mask="000"
        />
      </form>
    </div>
  </div>
  <div class="payment-actions">
    <button class="primary-button" (click)="pay()">Pagar</button>
    <button class="primary-button" (click)="close()">Cancelar</button>
    <p *ngIf="errorMsg" class="support-text">{{ errorMsg }}</p>
  </div>
</div>
