@use "variables" as vars;
@use "breakpoints" as bp;
.card {
  width: 480px;
  min-width: 480px;
  height: 250px;
  background: linear-gradient(225deg, #5b43f4 0%, rgba(39, 148, 250, 0) 100%);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  user-select: none;
  transition: all 0.5s;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    img {
      width: 96px;
    }
  }

  &-content {
    p {
      &.alias {
        color: vars.$support-text-color;
      }
    }
  }

  @include bp.respond-to(phone) {
    width: 100%;
    min-width: 100%;
  }

  &:hover {
    transform: scale(1.025);
  }
}
