<div class="card">
  <div class="card-header">
    <img class="obtic-logo" src="../../../assets/logos/obtic.svg" alt="" />
    <mat-icon
      (click)="setFavorite()"
      svgIcon="{{
        (data?.is_favorite ? 'heroicons_solid' : 'heroicons_outline') + ':star'
      }}"
    ></mat-icon>
  </div>
  <div class="card-content">
    <p class="informative-text">XXXX XXXXX XXXX {{ data?.last_digits }}</p>
    <p class="normal-text">{{ data?.expiration_date }}</p>
    <p class="normal-text alias">{{ data?.alias }}</p>
  </div>
</div>
