<div class="detail" *ngIf="information">
  <p class="header-text">{{ information?.product_name }}</p>
  <app-detail-hero [content]="information" [type]="type"></app-detail-hero>
  <app-carousel
    *ngIf="dlcs"
    [title]="''"
    [content]="dlcs"
    [type]="2"
  ></app-carousel>
</div>
