<div class="cms-create-admin">
  <p class="header-text">CREAR ADMIN</p>
  <form class="cms-create-admin-content" [formGroup]="adminForm">
    <section>
      <label class="">Usuario</label>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="username"
        [class.error]="f.username.errors && submitted"
        (input)="validate()"
      />
    </section>
    <section>
      <label class="">Email</label>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="email"
        [class.error]="f.email.errors && submitted"
        (input)="validate()"
      />
    </section>
    <section>
      <label class="">Nombre</label>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="name"
        [class.error]="f.name.errors && submitted"
        (input)="validate()"
      />
    </section>
    <section>
      <label class="">Apellido</label>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="lastName"
        [class.error]="f.lastName.errors && submitted"
        (input)="validate()"
      />
    </section>
  </form>
  <button class="primary-button" (click)="createAdmin()">CREAR</button>
  <p *ngIf="errorMsg" class="support-text">{{ errorMsg }}</p>
</div>
