<div class="devolution">
  <p class="header-text">Devolución</p>
  <p class="normal-text">
    El valor de la devolución será acreditado a su wallet
  </p>
  <form class="devolution-content" [formGroup]="devolutionForm">
    <textarea
      rows="5"
      class="text-area-input"
      placeholder="Razón"
      formControlName="message"
      [class.error]="f.message.errors && submitted"
      (input)="validate()"
    ></textarea>
  </form>

  <div class="devolution-actions">
    <button class="primary-button" (click)="devolution()">Solicitar</button>
    <button class="primary-button" (click)="close()">Cancelar</button>
    <p *ngIf="errorMsg" class="support-text">{{ errorMsg }}</p>
  </div>
</div>
