@use "variables" as vars;
@use "breakpoints" as bp;

.devolution {
  min-width: 400px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &-content {
    background: vars.$card-bg;
    padding: 16px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .text-area-input {
      width: 100%;
    }
  }

  &-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .primary-button {
      height: 50px;

      &:last-of-type {
        background: none;
        border: 2px solid vars.$gray-1;
        color: vars.$support-text-color;
      }
    }

    .support-text {
      text-align: end;
      color: vars.$error-color;
    }
  }
}
