@use "variables" as vars;

.filter {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  &-item {
    padding: 8px 16px;
    border-radius: 25px;
    background-color: vars.$nav-mobile-bg;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    color: vars.$aux-text-color;
    width: fit-content;
    cursor: pointer;
    transition: all 0.25s;
    user-select: none;
    height: fit-content;
    opacity: 0.75;
    
    &.active-item {
      background-color: vars.$primary-color;
      color: vars.$text-color;
    }
  }
}
