<div class="filter">
  <div
    class="filter-item"
    *ngFor="let item of content"
    [ngClass]="{ 'active-item': item.active }"
    (click)="unselect(item)"
  >
    <span>{{ item.name }}</span>
  </div>
  <div class="filter-item" (click)="toggle()">
    <mat-icon svgIcon="feather:shuffle"></mat-icon>
  </div>
</div>
