@use "breakpoints" as bp;
@use "variables" as vars;
@use "text";

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;

  &-content {
    display: flex;
    justify-content: space-between;
    padding: 40px 64px 32px 32px;
    background-color: vars.$nav-bg;

    & > img {
      width: 100px;
    }

    & > h1 {
      @extend .header-text;
    }

    .navbar-icons {
      display: flex;
      align-items: center;
      gap: 32px;

      mat-icon {
        cursor: pointer;

        &.active-item {
          color: vars.$primary-color;
        }
      }

      .balance {
        display: flex;
        align-items: center;
        gap: 8px;
        background: vars.$primary-color;
        padding: 6px 8px;
        border-radius: 4px;
        user-select: none;
        cursor: pointer;
      }
      @include bp.respond-to(mobile) {
        gap: 16px;
      }
    }

    @include bp.respond-to(mobile) {
      padding: 16px 16px;
      // background-color: vars.$nav-mobile-bg;
    }
  }

  &-navigation {
    padding: 0 8px;
    display: flex;
    gap: 8px;
  }
}
