<div class="navbar">
  <div class="navbar-content">
    <ng-container *ngIf="!isMobile; else mobileNavbar">
      <ng-container *ngIf="authUser; else anonymous">
        <h1>{{ message }} {{ authUser?.name }}!</h1>
      </ng-container>
      <ng-template #anonymous>
        <h1>Bienvenido!</h1>
      </ng-template>
    </ng-container>
    <ng-template #mobileNavbar>
      <img class="obtic-logo" src="../../../assets/logos/obtic.svg" alt="" />
    </ng-template>

    <div class="navbar-icons">
      <!-- <mat-icon svgIcon="feather:search"></mat-icon> -->
      <ng-container *ngIf="authUser && authUser?.id_user_type != 1">
        <mat-icon
          svgIcon="feather:credit-card"
          [routerLink]="cardsUrl"
          routerLinkActive="active-item"
        ></mat-icon>
        <mat-icon
          svgIcon="feather:heart"
          [routerLink]="wishListUrl"
          routerLinkActive="active-item"
        ></mat-icon>
        <mat-icon
          svgIcon="feather:shopping-cart"
          [routerLink]="shoppingCartUrl"
          routerLinkActive="active-item"
        ></mat-icon>
        <div class="balance" (click)="transaction()">
          <mat-icon svgIcon="account_balance_wallet"></mat-icon>
          <p class="normal-text">Q{{ authUser?.wallet | number: "1.2-2" }}</p>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="navbar-navigation" *ngIf="isMobile">
    <app-navigation-item
      *ngFor="let item of navigation"
      [item]="item"
    ></app-navigation-item>
  </div>
</div>
