<div class="dlcs">
  <app-filter
    *ngIf="filter"
    [content]="filter"
    (itemClicked)="apply($event)"
  ></app-filter>
  <app-carousel
    *ngFor="let item of dlcsContent"
    [title]="item.name"
    [content]="item.dlcs"
    [type]="2"
  ></app-carousel>
</div>
