@use "variables" as vars;

.anonymous-section {
  display: flex;
  flex-direction: column;
  gap: 16px;

  hr {
    border-color: vars.$gray-color;
  }

  .primary-button {
    width: 192px;
    height: 50px;
    border-radius: 10px;
  }

  p {
    text-align: center;
    color: vars.$support-text-color;

    a {
      color: vars.$text-color;
    }
  }
}
