<div class="anonymous-section">
  <hr />
  <button class="primary-button" routerLink="/auth/login">INICIA SESIÓN</button>
  <p class="support-text">
    ¿No tienes una cuenta de Obtic Games?
    <a routerLink="/auth/register">Regístrate</a>
  </p>
</div>
