@use "variables" as vars;

.cms-developers {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 64px;

  .add-developer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-top: 16px;

    .common-input,
    .primary-button {
      height: 50px;
      max-width: 250px;
    }

    .primary-button {
      padding: 0 16px;
      width: fit-content;
    }

    input {
      &.error {
        border-color: vars.$error-color;
        color: vars.$error-color;
      }
    }
  }

  .support-text {
    text-align: end;
    color: vars.$error-color;
  }
}
