<div class="cms-developers">
  <p class="header-text">DESARROLLADORES</p>
  <table mat-table [dataSource]="data">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID.</th>
      <td mat-cell *matCellDef="let element">{{ element.id_developer }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.developer_name }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="add-developer">
    <input
      class="common-input"
      placeholder="Desarrollador"
      [(ngModel)]="developerName"
      [class.error]="errorMsg"
      (input)="validate()"
    />
    <button class="primary-button" (click)="createDeveloper()">Agregar</button>
  </div>
  <p *ngIf="errorMsg" class="support-text">{{ errorMsg }}</p>
</div>
