@use "breakpoints" as bp;
@use "variables" as vars;

.shopping-cart {
  display: flex;

  gap: 32px;
  padding-bottom: 64px;

  &-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }

  &-action {
    // background-color: vars.$card-bg;
    height: fit-content;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 350px;

    .price-detail {
      width: 100%;
      margin-top: 32px;
      padding-bottom: 16px;
      border-bottom: 1px solid vars.$gray-1;

      & > div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 12px 0;

        p {
          text-align: end;
        }

        p:first-of-type {
          text-align: start;
          color: vars.$support-text-color;
        }
      }
    }

    .grand-total {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 12px 0;

      p {
        text-align: end;
        font-weight: 600;
      }

      p:first-of-type {
        text-align: start;
      }
    }

    .primary-button {
      margin-top: 16px;
      height: 50px;
    }

    @include bp.respond-to(mobile) {
      width: 100%;
    }
  }

  p {
    &.no-content {
      width: 100%;
      text-align: center;
    }
  }

  @include bp.respond-to(mobile) {
    flex-direction: column;
  }
}
