<div class="shopping-cart">
  <ng-container *ngIf="!empty">
    <div class="shopping-cart-list">
      <app-shopping-cart-item
        *ngFor="let item of internal"
        [content]="item"
        (remove)="removeItem($event)"
      ></app-shopping-cart-item>
      <app-shopping-cart-item
        *ngFor="let item of external"
        [content]="item"
        (remove)="removeItem($event)"
      ></app-shopping-cart-item>
    </div>
    <div class="shopping-cart-action">
      <p class="header-text">Resumen de juegos y aplicaciones</p>
      <div class="price-detail">
        <div>
          <p class="normal-text">Precio</p>
          <p class="normal-text">Q{{ cart?.total | number: "1.2-2" }}</p>
        </div>
        <div>
          <p class="normal-text">Impuestos</p>
          <p class="support-text">Calculados al finalizar la compra</p>
        </div>
      </div>
      <div class="grand-total">
        <p class="normal-text">Total</p>
        <p class="normal-text">Q{{ cart?.total | number: "1.2-2" }}</p>
      </div>
      <button class="primary-button" (click)="shop()">Finalizar compra</button>
    </div>
  </ng-container>
  <p class="informative-text no-content" *ngIf="empty">
    No ha agregado contenido a su carrito 😖
  </p>
</div>
