<div class="layout" *ngIf="layout; else without">
  <app-navigation
    *ngIf="!isMobile"
    [navigation]="navigation"
    [authUser]="authUser"
  ></app-navigation>
  <div class="content">
    <app-navbar
      [isMobile]="isMobile"
      [navigation]="navigation"
      [authUser]="authUser"
    ></app-navbar>
    <section>
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
<ng-template #without>
  <router-outlet></router-outlet>
</ng-template>
