@use "breakpoints" as bp;

.layout {
  position: relative;
  display: flex;
  width: 100%;

  .content {
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    & > section {
      padding-right: 64px;
      padding-left: 32px;

      @include bp.respond-to(mobile) {
        padding: 16px 16px 0;
      }
    }
  }

  @include bp.respond-to(mobile) {
    flex-direction: column;
  }
}
