<div class="cms-shopping-dashboard">
  <p class="header-text">DASHBOARD DE DEVOLUCIONES</p>
  <div>
    <p class="informative-text">A lo largo de los meses</p>
    <apx-chart
      [chart]="fifthChart.chart"
      [series]="fifthChart.series"
      [stroke]="fifthChart.stroke"
      [xaxis]="fifthChart.xaxis"
      [dataLabels]="fifthChart.dataLabels"
      [colors]="fifthChart.colors"
      [markers]="fifthChart.markers"
      [tooltip]="fifthChart.tooltip"
      [legend]="fifthChart.legend"
    ></apx-chart>
  </div>
  <div>
    <p class="informative-text">Origen de venta</p>
    <apx-chart
      [chart]="fourthChart.chart"
      [series]="fourthChart.series"
      [stroke]="fourthChart.stroke"
      [xaxis]="fourthChart.xaxis"
      [dataLabels]="fourthChart.dataLabels"
      [colors]="fourthChart.colors"
      [markers]="fourthChart.markers"
      [tooltip]="fourthChart.tooltip"
      [legend]="fourthChart.legend"
    ></apx-chart>
  </div>
  <div>
    <p class="informative-text">Tipo de venta</p>
    <apx-chart
      [chart]="thirdChart.chart"
      [series]="thirdChart.series"
      [stroke]="thirdChart.stroke"
      [xaxis]="thirdChart.xaxis"
      [dataLabels]="thirdChart.dataLabels"
      [colors]="thirdChart.colors"
      [markers]="thirdChart.markers"
      [tooltip]="thirdChart.tooltip"
      [legend]="thirdChart.legend"
    ></apx-chart>
  </div>
  <div>
    <p class="informative-text">Egresos por juego</p>
    <apx-chart
      [chart]="firstPieChart.chart"
      [series]="firstPieChart.series"
      [stroke]="firstPieChart.stroke"
      [labels]="firstPieChart.labels"
      [dataLabels]="firstPieChart.dataLabels"
      [markers]="firstPieChart.markers"
      [tooltip]="firstPieChart.tooltip"
      [legend]="firstPieChart.legend"
    ></apx-chart>
  </div>
  <div>
    <p class="informative-text">Devoluciones por juego</p>
    <apx-chart
      [chart]="secondPieChart.chart"
      [series]="secondPieChart.series"
      [stroke]="secondPieChart.stroke"
      [labels]="secondPieChart.labels"
      [dataLabels]="secondPieChart.dataLabels"
      [markers]="secondPieChart.markers"
      [tooltip]="secondPieChart.tooltip"
      [legend]="secondPieChart.legend"
    ></apx-chart>
  </div>
</div>
