<div class="register">
  <p class="header-text">Regístrate</p>
  <form class="register-input" [formGroup]="registerForm">
    <input
      class="common-input"
      type="text"
      placeholder="Región"
      formControlName="region"
      [class.error]="f.region.errors && submitted"
      (input)="validate()"
      required
    />
    <div class="user-input">
      <input
        class="common-input"
        type="text"
        placeholder="Nombre"
        formControlName="name"
        [class.error]="f.name.errors && submitted"
        (input)="validate()"
        required
      />
      <input
        class="common-input"
        type="text"
        placeholder="Apellido"
        formControlName="lastName"
        [class.error]="f.lastName.errors && submitted"
        (input)="validate()"
        required
      />
    </div>
    <input
      class="common-input"
      type="text"
      placeholder="Nombre de usuario"
      formControlName="username"
      [class.error]="f.username.errors && submitted"
      (input)="validate()"
      required
    />
    <input
      class="common-input"
      type="email"
      placeholder="Dirección de correo electrónico"
      formControlName="email"
      [class.error]="f.email.errors && submitted"
      (input)="validate()"
      required
    />
    <div class="password-input">
      <input
        class="common-input"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Contraseña"
        formControlName="password"
        [class.error]="f.password.errors && submitted"
        (input)="validate()"
        required
      />
      <mat-icon
        (click)="togglePasswordView()"
        svgIcon="{{ !showPassword ? 'feather:eye-off' : 'feather:eye' }}"
      ></mat-icon>
    </div>
  </form>
  <div class="register-action">
    <button class="primary-button" (click)="submit()">Continuar</button>
    <p class="support-text error" *ngIf="errorMsg">
      {{ errorMsg }}
    </p>
    <p class="support-text">
      ¿Tienes una cuenta de Obtic Games?
      <span routerLink="/auth/login">Inicia Sesión</span>
    </p>
  </div>
</div>
