<div class="developers">
  <app-filter
    *ngIf="filter"
    [content]="filter"
    (itemClicked)="apply($event)"
  ></app-filter>
  <app-carousel
    *ngFor="let item of developersContent"
    [title]="item.name"
    [content]="item.games"
  ></app-carousel>
</div>
