@use "breakpoints" as bp;

.developers {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 64px;

  app-filter {
    @include bp.respond-to(mobile) {
      display: none;
    }
  }
}
