<div class="wish-list">
  <ng-container *ngFor="let item of wishList">
    <app-wish-list-item
      *ngIf="!item.own"
      [content]="item"
      (remove)="removeItem($event)"
      (shoppingCart)="addToCart($event)"
    ></app-wish-list-item>
  </ng-container>

  <p class="informative-text no-content" *ngIf="empty">
    No ha agregado contenido a su lista de deseos 😖
  </p>
</div>
