<div class="wish-list-item">
  <div class="item-information">
    <div class="item-information-img">
      <img src="{{ content?.mobile_image }}" alt="Item Image" />
    </div>
    <div class="item-information-data">
      <p class="content-type">
        {{ content?.is_game ? "JUEGO BASE" : "ADICIONAL" }}
      </p>
      <p class="informative-text">{{ content?.product_name }}</p>
    </div>
  </div>
  <div class="item-price">
    <div class="item-price-data">
      <ng-container *ngIf="!content?.percentage_discount; else discount">
        <p class="normal-text price">Q{{ content?.price | number: "1.2-2" }}</p>
      </ng-container>
      <ng-template #discount>
        <div class="discount">
          <div>
            <div class="discount-info">
              <p class="support-text">
                - {{ content?.percentage_discount | number: "1.0-0" }} %
              </p>
            </div>
            <p class="normal-text other-price">
              Q{{ content?.price | number: "1.2-2" }}
            </p>
            <p class="normal-text price">
              Q{{ content?.price - content?.discount | number: "1.2-2" }}
            </p>
          </div>
          <p class="support-text">
            La oferta acaba el {{ content?.end_date | date: "dd/MM/yyyy" }}
          </p>
        </div>
      </ng-template>
    </div>
    <div class="item-price-actions">
      <p class="informative-text" (click)="removeItem()">Eliminar</p>
      <button
        class="primary-button"
        *ngIf="content?.showShoppingCart"
        (click)="addToCart()"
      >
        AÑADIR A CARRITO
      </button>
    </div>
  </div>
</div>
