@use "variables" as vars;

.cms-restrictions {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 64px;

  mat-icon {
    cursor: pointer;
    width: 18px !important;
    height: 18px !important;
    min-width: 18px !important;
    min-height: 18px !important;
    font-size: 18px !important;
    line-height: 18px !important;
    transition: all 0.5s;

    &:hover {
      color: vars.$error-color;
    }
  }

  .add-restriction {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-top: 16px;

    .common-input,
    .primary-button {
      height: 50px;
      max-width: 250px;
    }

    .primary-button {
      padding: 0 16px;
      width: fit-content;
    }

    input {
      &.error {
        border-color: vars.$error-color;
        color: vars.$error-color;
      }
    }
  }

  .support-text {
    text-align: end;
    color: vars.$error-color;

    &.restriction-notice {
      text-align: start;
    }
  }
}
