<div class="cms-restrictions">
  <p class="header-text">{{ name }}</p>
  <p class="informative-text">{{ information?.description }}</p>
  <p class="support-text restriction-notice">
    Este producto se encuentra restringido en las siguientes regiones:
  </p>
  <table mat-table [dataSource]="restrictions">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID.</th>
      <td mat-cell *matCellDef="let element">{{ element.id_region }}</td>
    </ng-container>

    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef>Región</th>
      <td mat-cell *matCellDef="let element">{{ element.region }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          (click)="removeRestriction(element)"
          title="Eliminar restricción"
          svgIcon="feather:minus-square"
        ></mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="add-restriction">
    <select
      class="common-input"
      type="text"
      autocomplete="off"
      [(ngModel)]="regionId"
      [class.error]="errorMsg"
      (change)="validate()"
    >
      <option *ngFor="let element of regions" [ngValue]="element.id_region">
        {{ element.region }}
      </option>
    </select>
    <button class="primary-button" (click)="addRestriction()">
      Restringir
    </button>
  </div>
  <p *ngIf="errorMsg" class="support-text">{{ errorMsg }}</p>
</div>
