@use "@core/scss/core";
@use "variables" as vars;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import "~@ng-select/ng-select/themes/default.theme.css";
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$obtic-app-primary: mat.define-palette(mat.$indigo-palette);
$obtic-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$obtic-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$obtic-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $obtic-app-primary,
      accent: $obtic-app-accent,
      warn: $obtic-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($obtic-app-theme);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table {
  background-color: vars.$card-bg;
  width: 100%;
  .mat-header-cell,
  .mat-cell,
  .mat-footer-cell {
    color: vars.$text-color;
    border-bottom-color: vars.$dark-1;
  }
}
