<div class="library">
  <p class="informative-text no-content" *ngIf="empty">
    No ha comprado ningún producto 😖
  </p>
  <app-grid-library *ngIf="!empty" [content]="data"></app-grid-library>
</div>
