@use "variables" as vars;
@use "breakpoints" as bp;
.navigation-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  color: vars.$aux-text-color;
  width: fit-content;
  cursor: pointer;
  transition: all 0.25s;
  user-select: none;

  &:hover {
    color: vars.$text-color;
  }

  &.active-item {
    color: vars.$text-color;
  }

  .mat-icon {
    @include bp.respond-to(mobile) {
      display: none;
    }
  }

  @include bp.respond-to(mobile) {
    padding: 8px 16px;
    border-radius: 25px;
    background-color: vars.$nav-mobile-bg;

    &.active-item {
      background-color: vars.$primary-color;
    }
  }
}
