@use "breakpoints" as bp;
@use "variables" as vars;

.report {
  display: flex;
  padding: 64px;
  flex-direction: column;
  gap: 32px;

  &-content {
    width: 100%;
    background: vars.$card-bg;
    border-radius: 10px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .report-profile {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;

      &-img {
        width: 80px;
        height: 80px;
        border-radius: 15px;
        overflow: hidden;

        img {
          width: 80px;
          height: auto;

          @include bp.respond-to(phone) {
            width: 64px;
          }
        }

        @include bp.respond-to(phone) {
          width: 64px;
          height: 64px;
        }
      }
    }

    @include bp.respond-to(mobile) {
      padding: 16px;
    }
  }

  .support-text {
    text-align: end;
    color: vars.$error-color;
  }

  @include bp.respond-to(mobile) {
    padding: 16px;
  }
}
