<div class="report">
  <p class="header-text">REPORTAR</p>
  <form class="report-content" [formGroup]="reportForm">
    <ng-select
      class="select-input"
      [items]="data"
      bindLabel="username"
      [clearable]="false"
      placeholder="Seleccione el usuario."
      [selectOnTab]="true"
      formControlName="profile"
      [class.error]="f.profile.errors && submitted"
      (change)="reset()"
    >
    </ng-select>
    <ng-container *ngIf="f.profile.value">
      <div class="report-profile">
        <div class="report-profile-img">
          <img src="{{ f.profile.value['profile_image'] }}" alt="Profile pic" />
        </div>
        <p class="informative-text">{{ f.profile.value["username"] }}</p>
      </div>
      <textarea
        rows="5"
        class="text-area-input"
        placeholder="Razón del reporte."
        formControlName="reason"
        [class.error]="f.reason.errors && submitted"
        (input)="validate()"
      ></textarea>
    </ng-container>
  </form>
  <ng-container *ngIf="f.profile.value">
    <button class="primary-button" (click)="report()">REPORTAR</button>
    <p *ngIf="errorMsg" class="support-text">{{ errorMsg }}</p></ng-container
  >
</div>
