<div class="cards">
  <div class="cards-actions">
    <button class="primary-button" routerLink="/create-card">Registrar</button>
  </div>
  <div class="cards-content">
    <app-card
      *ngFor="let card of cards"
      [data]="card"
      (favorite)="setFavorite($event)"
    ></app-card>
  </div>
</div>
