@use "breakpoints" as bp;

.cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 64px;

  &-actions {
    display: flex;
    justify-content: flex-end;

    .primary-button {
      width: fit-content;
      padding: 0 16px;
      height: 40px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    app-card {
      @include bp.respond-to(phone) {
        width: 100%;
      }
    }
  }
}
