<div class="home">
  <app-hero
    *ngIf="heroContent"
    [content]="heroContent"
    [current]="currentHeroContent"
  ></app-hero>
  <app-carousel
    *ngIf="offered"
    [title]="'Ofertados'"
    [content]="offered"
  ></app-carousel>
  <app-carousel
    *ngIf="bestSellers"
    [title]="'Más vendidos'"
    [content]="bestSellers"
  ></app-carousel>
  <app-carousel
    *ngIf="bestRated"
    [title]="'Más valorados'"
    [content]="bestRated"
  ></app-carousel>
  <app-carousel
    *ngIf="mostRecommended"
    [title]="'Más recomendados'"
    [content]="mostRecommended"
  ></app-carousel>
</div>
