@use "breakpoints" as bp;
@use "variables" as vars;

.create-card {
  display: flex;
  padding: 64px;
  flex-direction: column;
  gap: 32px;

  &-content {
    width: 100%;
    background: vars.$card-bg;
    border-radius: 10px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    section {
      display: flex;
      flex-direction: column;

      .common-input {
        margin-top: 8px;
        max-width: 100%;

        @include bp.respond-to(mobile) {
          max-width: 100%;
        }
      }

      input {
        &.error {
          border-color: vars.$error-color;
          color: vars.$error-color;
        }
      }
    }

    @include bp.respond-to(mobile) {
      padding: 16px;
    }
  }

  .support-text {
    text-align: end;
    color: vars.$error-color;
  }

  @include bp.respond-to(mobile) {
    padding: 16px;
  }
}
