<div class="create-card">
  <p class="header-text">REGISTRAR TARJETA</p>
  <form class="create-card-content" [formGroup]="cardForm">
    <section>
      <label class="">Número de tarjeta</label>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="cardNumber"
        [class.error]="f.cardNumber.errors && submitted"
        (input)="validate()"
        mask="0000 0000 0000 0000"
      />
    </section>
    <section>
      <label class="">Fecha de expiración</label>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="expirationDate"
        [class.error]="f.expirationDate.errors && submitted"
        (input)="validate()"
        mask="00/00"
      />
    </section>
    <section>
      <label class="">CVV</label>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="cvv"
        [class.error]="f.cvv.errors && submitted"
        (input)="validate()"
        mask="000"
      />
    </section>
    <section>
      <label class="">Alias</label>
      <input
        class="common-input"
        type="text"
        autocomplete="off"
        formControlName="alias"
        [class.error]="f.alias.errors && submitted"
        (input)="validate()"
      />
    </section>
  </form>
  <button class="primary-button" (click)="createAdmin()">CREAR</button>
  <p *ngIf="errorMsg" class="support-text">{{ errorMsg }}</p>
</div>
