<div class="external-detail-hero">
  <div class="external-detail-hero-img">
    <div class="external-detail-hero-img-bg">
      <img src="{{ content?.image }}" alt="Hero Image" width="100%" />
    </div>
    <div class="external-detail-hero-img-data">
      <p class="informative-text">{{ content?.description }}</p>
      <div>
        <p class="normal-text">Género</p>
        <p class="normal-text">{{ genders }}</p>
      </div>
    </div>
  </div>
  <div class="external-detail-hero-data">
    <div class="principal-data">
      <p class="content-type">JUEGO BASE</p>
      <ng-container *ngIf="!own && loaded">
        <ng-container *ngIf="!content?.percentage_discount; else discount">
          <p class="normal-text">Q{{ content?.price | number: "1.2-2" }}</p>
        </ng-container>
        <ng-template #discount>
          <div class="discount">
            <div class="discount-info">
              <p class="support-text">
                - {{ content?.percentage_discount | number: "1.0-0" }} %
              </p>
            </div>
            <div class="discount-total">
              <p class="normal-text">Q{{ content?.price | number: "1.2-2" }}</p>
              <p class="normal-text">
                Q{{ content?.price - content?.discount | number: "1.2-2" }}
              </p>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </div>
    <div class="data-actions">
      <button class="primary-button" *ngIf="!own && loaded" (click)="buyNow()">
        Comprar ahora
      </button>
      <button class="primary-button" *ngIf="own" (click)="devolution()">
        Devolver
      </button>
      <button
        class="primary-button cart"
        *ngIf="showShoppingCart && !own && loaded"
        (click)="addToCart()"
      >
        Añadir al carrito
      </button>
    </div>
    <div class="secondary-data">
      <div>
        <p class="normal-text">Desarrolladora</p>
        <p class="normal-text">{{ content?.developer[0]?.name }}</p>
      </div>
      <div>
        <p class="normal-text">Fecha de lanzamiento</p>
        <p class="normal-text">
          {{ (content?.releaseDate | date: "dd/MM/yyyy") || "NaN" }}
        </p>
      </div>
    </div>
  </div>
</div>
